body {
    background-color:  beige;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: beige;
    
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
#h1404 {
    color: red;
}

img {
    height: 25rem;
    width: auto;
}

#saladImg {
    height: 50rem;
    width: auto;
}
#coneImg {
    height: 50rem;
    width: auto;
}

nav {
    background-color: rgb(243, 222, 122);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color:black;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: red;
    text-decoration: none;
}

