main {
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
#h1404 {
    color: red;
}

img {
    height: 25rem;
    width: auto;
}

#saladImg {
    height: 50rem;
    width: auto;
}
#coneImg {
    height: 50rem;
    width: auto;
}

